<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sketchbox.drawingapp">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name="com.sketchbox.drawingapp.ArApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArDrawing"

        >
        <activity
            android:name="com.sketchbox.drawingapp.onBoardingScreen.LanguageActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.sketchbox.drawingapp.onBoardingScreen.OnboardingActivity"
            android:exported="false"
            android:screenOrientation="portrait"

            android:theme="@style/Theme.ArDrawing" /> <!-- Onboarding Activity -->
        <activity
            android:name="com.sketchbox.drawingapp.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.ArDrawing"
            android:screenOrientation="portrait"


            />


        <activity
            android:name="com.sketchbox.drawingapp.onBoardingScreen.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- FileProvider for sharing files (Images, etc.) -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.sketchbox.drawingapp.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- Google AdMob metadata (example/test ID) -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <meta-data
            android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />
    </application>

</manifest>